@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');


/* .commentSection{
    padding-left: 5%;
} */

.singleVideoContainer{
    padding-top: 2%;
}


.singleBox{
    padding-left: 5%;
    padding-top: 3%;
}


.singleVidTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 30px;
}


.commentCreator{
    font-weight: bolder;
    color: cornflowerblue;
}


.commHeader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.likeBtn{
    background-color: rgba(255, 255, 255, 0.9); /* Color white with alpha 0.9*/
    border: 10px solid rgba(255,255,255,.5);
}


.likeSection{
    position: absolute;
    right: 0;
    margin-right: 15%;
    bottom: 40%;
}


.likeImg{
    width: 150px;
    height: 150px;
}


.likeNum{
    font-family: "Anton", sans-serif;
    font-size: 65px;
    text-align: center;
}

.deleteVidBtn{
    background-color: rgba(255, 255, 255, 0.9); /* Color white with alpha 0.9*/
    border: 10px solid rgba(255,255,255,.5);
}

.editVidBtn{
    background-color: rgba(255, 255, 255, 0.9); /* Color white with alpha 0.9*/
    border: 10px solid rgba(255,255,255,.5);
}
