.editDesc {
    height: 50px;
}




.editBtn{
    border-radius: 10px;
    background-color: #5D3FD3;
    font-family: 'Monsterat', sans-serif;
    font-weight: 900;
    height: max-content;
    width: max-content;
    color: white;
    border: none;
}
