.videoContainer{
    display: flex;
    padding-left: 20%;
    padding-top: 1%;
}


/* .singleVideo{
    width: 1000px;
    height: 800px;
}  */


.oneVideo{
    border-radius: 10%;
}

.allVideos{
    padding-top: 5%;
    padding-bottom: 5%;
}

.allVideosHeader{
    align-content: center;
    padding-top: 5%;
}


.videoDescription{
    padding-left: 20%;
    text-decoration: none;
}

.allVidsContainer{
    padding-bottom: 6%;
}

.vidLink{
    color: black;
    text-decoration: none;
    padding-left: 20%;
}

.allVideosHeader{
    padding-left: 40%;
    padding-top: 10%;
}

.contentCreator{
    padding-left: 20%;
}
