.videoContainer{
    display: flex;
    padding-left: 20%;
}


/* .singleVideo{
    width: 1000px;
    height: 800px;
}  */


.oneVideo{
    border-radius: 10%;
}

.allVideos{
    padding-top: 5%;
    padding-bottom: 5%;
}
