.commentBox{
    width: 760px;
    height: 25px;
}

.commentBtn{
    height: 25px;
    border-radius: 10px;
}


.commentContent{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100px;
    font-size: 15px;
    width: 550px;
    height: 20px;
    word-wrap: break-word;
}


.descriptionContent{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100px;
    font-size: 20px;
    width: 1200px;
    height: 100px;
    word-wrap: break-word;
}

.commentSection{
    padding-bottom: 7%;
}
